@model studentRegistration.Models.City

<option value="">Please Select City</option>

@if (ViewBag.Citylist != null)
{
    foreach (var i in ViewBag.Citylist)
    {
        <option value="@i.Value">@i.Text</option>
    }
}

