#back {
  background-image: url(img.jpg);
  background-size: cover;
}
@media screen and (max-width: 500px) {
  .inp {
    position: relative;
    margin: 0;
    padding: 0;
  }

  /* .contentTxt {} */

  /* .table td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-size: 15px;
      font-weight: bold;
      text-align: left;
    } */
}